* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #1976d2b7, rgba(71, 152, 219, 0.582));
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background: #fff;
  padding: 32px;
  width: 420px;
  border-radius: 22px;
  box-shadow: 0 25px 55px rgba(0,0,0,0.25);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 24px;
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.row input,
.row select {
  flex: 1;
  padding: 12px;
  border-radius: 14px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.row input:focus,
.row select:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 0 3px rgba(0,188,212,0.15);
  outline: none;
}


.photo-box {
  flex: 1;
  height: 48px;
  width: 48px;
  border-radius: 14px;
  background: #e0f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.photo-box:hover {
  background: #b2ebf2;
}

.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-box input {
  display: none;
}

.error {
  color: #e53935;
  text-align: center;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 18px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(135deg, #00bcd4, #2196f3);
  transition: 0.35s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(33,150,243,0.4);
}


.result-body {
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
}

.library-card {
  background: white;
  width: 560px;
  padding: 24px;
  border-radius: 22px;
  display: flex;
  gap: 24px;
  position: relative;
  box-shadow: 0 20px 45px rgba(0,0,0,0.18);
}

.library-card img {
  width: 130px;
  height: 130px;
  border-radius: 16px;
  object-fit: cover;
}

.card-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.card-date {
  position: absolute;
  top: 14px;
  right: 18px;
  font-size: 13px;
}

.library-name {
  position: absolute;
  bottom: 14px;
  right: 18px;
  font-weight: 600;
  color: #1976d2;
}

.row input,
.row select {
  flex: 1;
  min-width: 0;
}



.library-icon {
  position: absolute;
  bottom: 10px;
  left: 20px;

  width: 40px !important;
  height: 40px !important;
  opacity: 0.7;
}